:root {
  /* Paleta de Cores (Tema Claro) */
  --bg-color: #f8f9fa; /* Fundo principal (cinza bem claro) */
  --surface-color: #ffffff; /* Cor de "superfície" para cards e sidebar (branco) */
  --border-color: #e9ecef; /* Cor das bordas */
  --primary-text-color: #212529; /* Cor do texto principal (preto/cinza escuro) */
  --secondary-text-color: #6c757d; /* Cor do texto secundário (cinza) */
  --accent-bg-color: #212529; /* Cor de destaque (fundo do botão ativo) */
  --accent-text-color: #ffffff; /* Cor do texto do botão ativo */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ContainerTopPag {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 2px solid var(--border-color);
  padding: 32px;
}

.ContainerTopPag a {
  text-decoration: none;
  color: black;
}

.ContainerTopPag i {
  font-size: 35px;
  text-shadow: 3px 2px 5px rgba(0, 0, 0, 0.33);
}

.Inicio  {
  font-family: "Inter", sans-serif;
  margin-left: 25px;
  font-size: 16px;
  text-decoration: none;
}

.ContainerAddBook {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  margin: 32px;
}

.ContainerAddBook img{
  height: 90%;
  margin-right: 10%;
  border-radius: 5px;
}

.AddBook {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
  height: 90%;
  width: 30%;
}

.AddBook h1{
  font-weight: 700;
  font-size: 2.5rem;
  color: black;
  margin-bottom: 10%;
}

.BookInfos {
  display: flex;
  width: 90%;
  height: 60%;
  flex-direction: column;
  align-items: center;
}

.form-grupo {
  display: flex;
  width: 100%;
  height: 40%;
  flex-direction: column;
  /*margin-bottom: 24px;*/
}

.form-grupo label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.form-grupo input {
  width: 100%;
  height: 45%;
  padding: 14px;
  border: 2px solid var(--accent-bg-color);
  border-radius: 8px;
  font-size: 1rem;
}

.AddBookButton{
  width: 50%;
  height: 50px;
  padding: 16px;
  border: none;
  border-radius: 16px;
  background-color: rgb(182, 217, 242); /* Cor laranja do botão */
  color: black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-top: auto; /* Empurra o botão para baixo */
  transition: background-color 0.2s;
}

.AddBookButton:hover{
  background-color: rgb(160, 193, 217);
}